@{
    var area = ViewContext.RouteData.Values["area"]?.ToString();
    var controller = ViewContext.RouteData.Values["controller"]?.ToString();
    var action = ViewContext.RouteData.Values["action"]?.ToString();

    bool IsActive(string a, string c, string ac = "Index")
        => string.Equals(area, a, StringComparison.OrdinalIgnoreCase)
        && string.Equals(controller, c, StringComparison.OrdinalIgnoreCase)
        && string.Equals(action, ac, StringComparison.OrdinalIgnoreCase);

    bool IsController(string a, string c)
        => string.Equals(area, a, StringComparison.OrdinalIgnoreCase)
        && string.Equals(controller, c, StringComparison.OrdinalIgnoreCase);
}

<!DOCTYPE html>
<html dir="rtl">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Links Of CSS File -->
    <link rel="stylesheet" href="~/assets/css/remixicon.css" />
    <link rel="stylesheet" href="~/assets/css/apexcharts.css" />
    <link rel="stylesheet" href="~/assets/css/simplebar.css" />
    <link rel="stylesheet" href="~/assets/css/prism.css" />
    <link rel="stylesheet" href="~/assets/css/jsvectormap.min.css" />
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/css/quill.snow.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    <!-- Title -->
    <title>پنل مدیریت هلدینگ علیزاده</title>

    <!-- Font Family -->
    <link rel="stylesheet" href="~/assets/fonts/Farsi-Digits/font-style.css" />

    <!-- Material Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <!-- Sidebar -->
    <div
      class="sidebar-area bg-white dark:bg-[#0c1427] fixed overflow-hidden z-[7] top-0 h-screen transition-all rounded-r-md"
      id="sidebar-area"
    >
      <div
        class="logo bg-white dark:bg-[#0c1427] border-b border-gray-100 dark:border-[#172036] px-[25px] pt-[19px] pb-[15px] absolute z-[2] right-0 top-0 left-0"
      >
        <a href="index.html" class="transition-none relative flex items-center">
          <img src="~/public/img/logo.png" alt="logo-icon" />
          
        </a>
        <button
          type="button"
          class="burger-menu inline-block absolute z-[3] top-[24px] ltr:right-[25px] rtl:left-[25px] transition-all hover:text-primary-500"
          id="hide-sidebar-toggle2"
        >
          <i class="material-symbols-outlined"> بسته </i>
        </button>
      </div>
      <div class="pt-[89px] px-[25px] pb-[20px] h-screen" data-simplebar>
        <div class="accordion px-0">
          <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
            <a
              asp-area="Admin"
              asp-controller="Dashboard"
              asp-action="Index"
              class="accordion-button flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[28px] rtl:pr-[14px] rtl:pl-[28px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c]
          @(IsActive("Admin","Dashboard","Index") ? "bg-primary-50 text-primary-500" : "")">
            
              <i
                class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px"
              >
                dashboard
              </i>
              <span class="title leading-none"> داشبورد </span>
            </a>
          </div>

@{
    var blogOpen = IsController("Admin","Blog") || IsController("Admin","BlogCategory");
}
          <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
            <button
              class="accordion-button toggle flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[28px] rtl:pr-[14px] rtl:pl-[28px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c] @(blogOpen ? "bg-gray-50 dark:bg-[#15203c]" : "")"
              type="button"
              aria-expanded="@(blogOpen.ToString().ToLower())">
              <i
                class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px"
              >
                note_stack
              </i>
              <span class="title leading-none">وبلاگ</span>
            </button>
            <div class="accordion-collapse @(blogOpen ? "" : "hidden")">
              <div class="pt-[4px]">
                <ul class="sidebar-sub-menu">
                  <li class="sidemenu-item mb-[4px] last:mb-0">
                    <a
                      asp-area="Admin"
                      asp-controller="Blog"
                      asp-action="Index"
                      class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c] @(IsActive("Admin","Blog","Index") ? "text-primary-500 bg-primary-50" : "")"
                    >
                      لیست
                    </a>
                  </li>
                  <li class="sidemenu-item mb-[4px] last:mb-0">
                    <a
                      asp-area="Admin"
                      asp-controller="BlogCategory"
                      asp-action="Index"
                      class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c] @(IsActive("Admin","BlogCategory","Index") ? "text-primary-500 bg-primary-50" : "")"
                    >
                      دسته بندی
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

@{
    var villaOpen = IsController("Admin","Villa");
}
          <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
            <button
              class="accordion-button toggle flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[28px] rtl:pr-[14px] rtl:pl-[28px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c] @(villaOpen ? "bg-gray-50 dark:bg-[#15203c]" : "")"
              type="button"
              aria-expanded="@(villaOpen.ToString().ToLower())"
            >
              <i
                class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px"
              >
                villa
              </i>
              <span class="title leading-none">ویلا</span>
            </button>
            <div class="accordion-collapse @(villaOpen ? "" : "hidden")">
              <div class="pt-[4px]">
                <ul class="sidebar-sub-menu">
                  <li class="sidemenu-item mb-[4px] last:mb-0">
                    <a
                      asp-area="Admin"
                      asp-controller="Villa"
                      asp-action="Index"
                      class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c] @(IsActive("Admin","Villa","Index") ? "text-primary-500 bg-primary-50" : "")"
                    >
                      لیست ویلا
                    </a>
                  </li>
                  <li class="sidemenu-item mb-[4px] last:mb-0">
                    <a
                      asp-area="Admin"
                      asp-controller="Villa"
                      asp-action="Create"
                      class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c] @(IsActive("Admin","Villa","Create") ? "text-primary-500 bg-primary-50" : "")"
                    >
                      اضافه کردن ویلا
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

@{
    var landOpen = IsController("Admin","Land");
}
          <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
            <button
              class="accordion-button toggle flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[28px] rtl:pr-[14px] rtl:pl-[28px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c] @(landOpen ? "bg-gray-50 dark:bg-[#15203c]" : "")"
              type="button"
              aria-expanded="@(landOpen.ToString().ToLower())"
            >
              <i
                class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px"
              >
                real_estate_agent
              </i>
              <span class="title leading-none">ملک</span>
            </button>
            <div class="accordion-collapse @(landOpen ? "" : "hidden")">
              <div class="pt-[4px]">
                <ul class="sidebar-sub-menu">
                  <li class="sidemenu-item mb-[4px] last:mb-0">
                    <a
                      asp-area="Admin"
                      asp-controller="Land"
                      asp-action="Index"
                      class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c] @(IsActive("Admin","Land","Index") ? "text-primary-500 bg-primary-50" : "")"
                    >
                      لیست ملک
                    </a>
                  </li>
                  <li class="sidemenu-item mb-[4px] last:mb-0">
                    <a
                      asp-area="Admin"
                      asp-controller="Land"
                      asp-action="Create"
                      class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c] @(IsActive("Admin","Land","Create") ? "text-primary-500 bg-primary-50" : "")"
                    >
                      اضافه کردن ملک
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

@{
    var usersOpen = IsController("Admin","Users");
}
          <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
            <button
              class="accordion-button toggle flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[28px] rtl:pr-[14px] rtl:pl-[28px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c] @(usersOpen ? "bg-gray-50 dark:bg-[#15203c]" : "")"
              type="button"
              aria-expanded="@(usersOpen.ToString().ToLower())"
            >
              <i
                class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px"
              >
                person
              </i>
              <span class="title leading-none"> اعضا </span>
            </button>
            <div class="accordion-collapse @(usersOpen ? "" : "hidden")">
              <div class="pt-[4px]">
                <ul class="sidebar-sub-menu">
                  <li class="sidemenu-item mb-[4px] last:mb-0">
                    <a
                      asp-area="Admin"
                      asp-controller="Users"
                      asp-action="Index"
                      class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c] @(IsActive("Admin","Users","Index") ? "text-primary-500 bg-primary-50" : "")"
                    >
                      اعضا تیم
                    </a>
                  </li>
                  <li class="sidemenu-item mb-[4px] last:mb-0">
                    <a
                      asp-area="Admin"
                      asp-controller="Users"
                      asp-action="Create"
                      class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c] @(IsActive("Admin","Users","Create") ? "text-primary-500 bg-primary-50" : "")"
                    >
                      عضو جدید
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
            <a
              href="my-profile.html"
              class="accordion-button flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[28px] rtl:pr-[14px] rtl:pl-[28px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c]"
            >
              <i
                class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px"
              >
                settings
              </i>
              <span class="title leading-none"> تنطیمات </span>
            </a>
          </div>
          
          <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
            <a
              href="fp-index.html"
              class="accordion-button flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[28px] rtl:pr-[14px] rtl:pl-[28px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c]"
            >
              <i
                class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px"
              >
                logout
              </i>
              <span class="title leading-none"> خروج از حساب </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->
    <!-- Header -->
    <div
      class="header-area bg-white dark:bg-[#0c1427] py-[13px] px-[20px] md:px-[25px] fixed top-0 z-[6] rounded-b-md transition-all"
      id="header-area"
    >
      <div class="md:flex md:items-center md:justify-between">
        <div class="flex items-center justify-center md:justify-normal">
          <div
            class="relative leading-none top-px ltr:mr-[13px] ltr:md:mr-[18px] ltr:lg:mr-[23px] rtl:ml-[13px] rtl:md:ml-[18px] rtl:lg:ml-[23px]"
          >
            <button
              type="button"
              class="hide-sidebar-toggle transition-all inline-block hover:text-primary-500"
              id="hide-sidebar-toggle"
            >
              <i class="material-symbols-outlined !text-[20px]"> menu </i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Header -->
    <!-- Main Content -->

    <div class="main-content transition-all flex flex-col overflow-hidden min-h-screen" id="main-content">
	@if (TempData["Success"] != null)
		{
			<div class="mx-6 my-3 p-3 bg-green-100 text-green-800 rounded-lg border border-green-300">
				@TempData["Success"]
			</div>
		}
		@if (TempData["Error"] != null)
		{
			<div class="mx-6 my-3 p-3 bg-red-100 text-red-800 rounded-lg border border-red-300">
				@TempData["Error"]
			</div>
		}
        @RenderBody()
   </div> 
   <!-- End Main Content -->
    <!-- Links Of JS File -->
    <script src="~/assets/js/apexcharts.min.js"></script>
    <script src="~/assets/js/fslightbox.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
    <script src="~/assets/js/prism.js"></script>
    <script src="~/assets/js/clipboard.min.js"></script>
    <script src="~/assets/js/swiper-bundle.min.js"></script>
    <script src="~/assets/js/fullcalendar.min.js"></script>
    <script src="~/assets/js/jsvectormap.min.js"></script>
    <script src="~/assets/js/world-merc.js"></script>
    <script src="~/assets/js/quill.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
  </body>
</html>
