@model List<AriaRealState.Web.Models.Land.LandListViewModel>
<section class="grid lg:grid-cols-12 px-2 sm:px-0 gap-4 sm:gap-8 mt-5 lg:mt-15 container mx-auto">
    <div class="col-span-1 lg:col-span-3 space-y-2 sm:space-y-4">
        <div class="flex w-full items-center" id="buyTabs">
            <div data-tab="villa"
                 class="tab-item text-black w-full rounded-tr-md rounded-br-md h-15 font-alibaba-bold text-lg sm:text-xl border border-border bg-white flex justify-center items-center cursor-pointer">
                خرید ویلا
            </div>

            <div data-tab="land"
                 class="tab-item text-white w-full bg-primary rounded-tl-md rounded-bl-md h-15 font-alibaba-bold text-lg sm:text-xl flex justify-center items-center cursor-pointer">
                خرید زمین
            </div>
        </div>
        <label class="input w-full h-15 rounded-md bg-white border border-border text-dark">
            <img src="public/svg/search.svg" alt="" />
            <input type="search"
                   required
                   placeholder="جستجو کد ملک"
                   class="text-sm" />
            <button class="btn border-0 bg-primary text-white text-sm py-2.5 px-3 rounded-sm">
                جستجو
            </button>
        </label>
        <div class="w-full hidden lg:block bg-white rounded-md p-4 border border-border">
            <div class="flex justify-between items-center pb-2.5 border-b border-accent">
                <div class="text-sm text-primary font-alibaba-bold">
                    فیلتر نتایج
                </div>
                <div class="text-xs text-gray font-alibaba">پاک کردن همه</div>
            </div>
            <div class="mt-2.5 pb-6 border-b border-accent">
                <div class="text-xs text-gray font-alibaba">قابلیت ها</div>
                <div class="space-y-2 mt-1">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-1">
                            <input type="checkbox"
                                   class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                            <div class="text-primary text-base font-alibaba">
                                قابلیت تفکیک
                            </div>
                        </div>
                        <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                            21
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-1">
                            <input type="checkbox"
                                   class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                            <div class="text-primary text-base font-alibaba">
                                قابلیت آپارتمان سازی
                            </div>
                        </div>
                        <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                            21
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-1">
                            <input type="checkbox"
                                   class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                            <div class="text-primary text-base font-alibaba">
                                قابلیت شهرک سازی
                            </div>
                        </div>
                        <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                            21
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-6 pb-6 border-b border-accent">
                <div class="text-xs text-gray font-alibaba">موقعیت ملک</div>
                <div class="space-y-2 mt-1">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-1">
                            <input type="checkbox"
                                   class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                            <div class="text-primary text-base font-alibaba">شهرکی</div>
                        </div>
                        <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                            21
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-1">
                            <input type="checkbox"
                                   class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                            <div class="text-primary text-base font-alibaba">مستقل</div>
                        </div>
                        <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                            21
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-6 pb-6 border-b border-accent">
                <div class="text-xs text-gray font-alibaba">جهت زمین</div>
                <div class="space-y-2 mt-1">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-1">
                            <input type="checkbox"
                                   class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                            <div class="text-primary text-base font-alibaba">شمالی</div>
                        </div>
                        <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                            21
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-1">
                            <input type="checkbox"
                                   class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                            <div class="text-primary text-base font-alibaba">جنوبی</div>
                        </div>
                        <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                            21
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-1">
                            <input type="checkbox"
                                   class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                            <div class="text-primary text-base font-alibaba">شرق</div>
                        </div>
                        <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                            21
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-1">
                            <input type="checkbox"
                                   class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                            <div class="text-primary text-base font-alibaba">غرب</div>
                            <div class="text-primary text-base font-alibaba">شرق</div>
                        </div>
                        <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                            21
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-6">
                <div class="text-xs text-gray font-alibaba">کاربری زمین</div>
                <div class="space-y-2 mt-1">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-1">
                            <input type="checkbox"
                                   class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                            <div class="text-primary text-base font-alibaba">باغی</div>
                        </div>
                        <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                            21
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-1">
                            <input type="checkbox"
                                   class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                            <div class="text-primary text-base font-alibaba">زراعی</div>
                        </div>
                        <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                            21
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-1">
                            <input type="checkbox"
                                   class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                            <div class="text-primary text-base font-alibaba">مسکونی</div>
                        </div>
                        <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                            21
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-1">
                            <input type="checkbox"
                                   class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                            <div class="text-primary text-base font-alibaba">جنگلی</div>
                        </div>
                        <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                            21
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse p-0 lg:hidden bg-white rounded-md border border-border group">
            <input type="checkbox" name="my-accordion-1" />
            <div class="collapse-title flex justify-between p-3 items-center text-gray font-alibaba text-sm">
                <div class="text-gray font-alibaba text-sm">فیلتر نتایج</div>
                <div class="w-6 h-6 bg-primary flex rounded-full items-center justify-center transition-transform duration-300 group-has-[input:checked]:rotate-180">
                    <img src="public/svg/arrow-down.svg" alt="" />
                </div>
            </div>
            <div class="collapse-content text-sm sm:text-base font-alibaba text-gray text-justify">
                <div class="w-full bg-white">
                    <div class="flex justify-between items-center pb-2.5 border-b border-accent">
                        <div class="text-sm text-primary font-alibaba-bold">
                            فیلتر نتایج
                        </div>
                        <div class="text-xs text-gray font-alibaba">پاک کردن همه</div>
                    </div>
                    <div class="mt-2.5 pb-6 border-b border-accent">
                        <div class="text-xs text-gray font-alibaba">قابلیت ها</div>
                        <div class="space-y-2 mt-1">
                            <div class="flex justify-between items-center">
                                <div class="flex items-center gap-1">
                                    <input type="checkbox"
                                           class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                                    <div class="text-primary text-base font-alibaba">
                                        قابلیت تفکیک
                                    </div>
                                </div>
                                <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                                    21
                                </div>
                            </div>
                            <div class="flex justify-between items-center">
                                <div class="flex items-center gap-1">
                                    <input type="checkbox"
                                           class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                                    <div class="text-primary text-base font-alibaba">
                                        قابلیت آپارتمان سازی
                                    </div>
                                </div>
                                <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                                    21
                                </div>
                            </div>
                            <div class="flex justify-between items-center">
                                <div class="flex items-center gap-1">
                                    <input type="checkbox"
                                           class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                                    <div class="text-primary text-base font-alibaba">
                                        قابلیت شهرک سازی
                                    </div>
                                </div>
                                <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                                    21
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-6 pb-6 border-b border-accent">
                        <div class="text-xs text-gray font-alibaba">موقعیت ملک</div>
                        <div class="space-y-2 mt-1">
                            <div class="flex justify-between items-center">
                                <div class="flex items-center gap-1">
                                    <input type="checkbox"
                                           class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                                    <div class="text-primary text-base font-alibaba">
                                        شهرکی
                                    </div>
                                </div>
                                <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                                    21
                                </div>
                            </div>
                            <div class="flex justify-between items-center">
                                <div class="flex items-center gap-1">
                                    <input type="checkbox"
                                           class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                                    <div class="text-primary text-base font-alibaba">
                                        مستقل
                                    </div>
                                </div>
                                <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                                    21
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-6 pb-6 border-b border-accent">
                        <div class="text-xs text-gray font-alibaba">جهت زمین</div>
                        <div class="space-y-2 mt-1">
                            <div class="flex justify-between items-center">
                                <div class="flex items-center gap-1">
                                    <input type="checkbox"
                                           class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                                    <div class="text-primary text-base font-alibaba">
                                        شمالی
                                    </div>
                                </div>
                                <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                                    21
                                </div>
                            </div>
                            <div class="flex justify-between items-center">
                                <div class="flex items-center gap-1">
                                    <input type="checkbox"
                                           class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                                    <div class="text-primary text-base font-alibaba">
                                        جنوبی
                                    </div>
                                </div>
                                <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                                    21
                                </div>
                            </div>
                            <div class="flex justify-between items-center">
                                <div class="flex items-center gap-1">
                                    <input type="checkbox"
                                           class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                                    <div class="text-primary text-base font-alibaba">شرق</div>
                                </div>
                                <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                                    21
                                </div>
                            </div>
                            <div class="flex justify-between items-center">
                                <div class="flex items-center gap-1">
                                    <input type="checkbox"
                                           class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                                    <div class="text-primary text-base font-alibaba">غرب</div>
                                    <div class="text-primary text-base font-alibaba">شرق</div>
                                </div>
                                <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                                    21
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-6">
                        <div class="text-xs text-gray font-alibaba">کاربری زمین</div>
                        <div class="space-y-2 mt-1">
                            <div class="flex justify-between items-center">
                                <div class="flex items-center gap-1">
                                    <input type="checkbox"
                                           class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                                    <div class="text-primary text-base font-alibaba">
                                        باغی
                                    </div>
                                </div>
                                <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                                    21
                                </div>
                            </div>
                            <div class="flex justify-between items-center">
                                <div class="flex items-center gap-1">
                                    <input type="checkbox"
                                           class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                                    <div class="text-primary text-base font-alibaba">
                                        زراعی
                                    </div>
                                </div>
                                <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                                    21
                                </div>
                            </div>
                            <div class="flex justify-between items-center">
                                <div class="flex items-center gap-1">
                                    <input type="checkbox"
                                           class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                                    <div class="text-primary text-base font-alibaba">
                                        مسکونی
                                    </div>
                                </div>
                                <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                                    21
                                </div>
                            </div>
                            <div class="flex justify-between items-center">
                                <div class="flex items-center gap-1">
                                    <input type="checkbox"
                                           class="checkbox checkbox-primary checkbox-xs border-border rounded-xs" />
                                    <div class="text-primary text-base font-alibaba">
                                        جنگلی
                                    </div>
                                </div>
                                <div class="bg-accent text-gray w-6 h-6 text-center rounded-full text-sm font-alibaba">
                                    21
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full lg:block hidden bg-white rounded-md py-2 px-4 border border-border">
            <div class="flex justify-between items-center pb-2.5 border-b border-accent">
                <div class="text-sm text-primary font-alibaba-bold">متراژ ها</div>
                <div class="text-xs text-gray font-alibaba">پاک کردن همه</div>
            </div>

            <div class="mt-2.5">
                <div class="text-gray text-xs">
                    متراژ زمین
                    <span class="text-primary font-alibaba">(متر مربع)</span>
                </div>
                <div class="mt-2 flex justify-between items-center gap-2.5">
                    <input type="text"
                           placeholder="حداقل متراژ "
                           class="input rounded-sm h-8 border border-border font-alibaba bg-white text-sm text-gray" />
                    <input type="text"
                           placeholder="حداکثر متراژ "
                           class="input rounded-sm h-8 border border-border font-alibaba bg-white text-sm text-gray" />
                </div>
            </div>
        </div>
        <div class="collapse p-0 lg:hidden bg-white rounded-md border border-border group">
            <input type="checkbox" name="my-accordion-1" />
            <div class="collapse-title flex justify-between p-3 items-center text-gray font-alibaba text-sm">
                <div class="text-gray font-alibaba text-sm">متراژ ها</div>
                <div class="w-6 h-6 bg-primary flex rounded-full items-center justify-center transition-transform duration-300 group-has-[input:checked]:rotate-180">
                    <img src="public/svg/arrow-down.svg" alt="" />
                </div>
            </div>
            <div class="collapse-content text-sm sm:text-base font-alibaba text-gray text-justify">
                <div class="w-full bg-white">
                    <div class="flex justify-between items-center pb-2.5 border-b border-accent">
                        <div class="text-sm text-primary font-alibaba-bold">
                            متراژ ها
                        </div>
                        <div class="text-xs text-gray font-alibaba">پاک کردن همه</div>
                    </div>

                    <div class="mt-2.5">
                        <div class="text-gray text-xs">
                            متراژ زمین
                            <span class="text-primary font-alibaba">(متر مربع)</span>
                        </div>
                        <div class="mt-2 flex justify-between items-center gap-2.5">
                            <input type="text"
                                   placeholder="حداقل متراژ "
                                   class="input rounded-sm h-8 border border-border font-alibaba bg-white text-sm text-gray" />
                            <input type="text"
                                   placeholder="حداکثر متراژ "
                                   class="input rounded-sm h-8 border border-border font-alibaba bg-white text-sm text-gray" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-1 lg:col-span-9">
        <div class="flex flex-col sm:flex-row justify-between gap-2 sm:gap-0 items-center border-b border-b-accent py-2 sm:py-4">
            <div class="flex flex-wrap justify-center text-gray text-sm sm:text-base items-center gap-5 sm:gap-10"
                 id="sortTabs">
                <div class="text-sm sm:text-base">مرتب‌سازی</div>

                <div class="sort-tab cursor-pointer">جدیدترین</div>
                <div class="sort-tab cursor-pointer">بیشترین بازدید</div>
                <div class="sort-tab cursor-pointer">ارزان‌ترین</div>
                <div class="sort-tab cursor-pointer">گران‌ترین</div>
            </div>

            <div class="text-xs sm:text-sm text-gray">800 مورد فایل</div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 mt-2 sm:mt-4 gap-3 sm:gap-4">

            @foreach (var land in Model)
            {
                <div class="bg-white rounded-lg p-2.5">
                    <div class="relative w-full text-white">
                        <img src="@land.CoverImage"
                             class="w-full h-100 rounded-md object-cover" />

                        <div class="absolute inset-0 rounded-md bg-linear-to-t from-black/80 to-transparent"></div>

                        <div class="absolute w-full p-2 bottom-0 z-10">
                            <div class="text-base font-alibaba">
                                @land.Title کد @land.Code
                            </div>
                            <div class="flex mt-1 items-center gap-4">
                                <div class="flex items-center gap-1">
                                    <img src="public/svg/calendar.svg" alt="" />
                                    <div class="text-base">1398</div>
                                </div>
                                <div class="flex items-center gap-1">
                                    <img src="public/svg/area-.svg" alt="" />
                                    <div class="text-base">@land.LandSize</div>
                                    <div class="text-base">متر</div>
                                </div>
                                <div class="flex items-center gap-1">
                                    <img src="public/svg/bed.svg" alt="" />
                                    <div class="text-base">2</div>
                                    <div class="text-base">خوابه</div>
                                </div>
                            </div>
                            <div class="mt-2 flex justify-between items-center">
                                <div class="bg-white flex items-center gap-1 rounded-sm p-0.5">
                                    <div class="text-base text-primary">@land.ShowPrice</div>
                                    <div class="text-xs text-primary">تومان</div>
                                </div>
                                <div class="flex items-center gap-0.5">
                                    <img src="public/svg/time.svg" alt="" />
                                    <div class="text-xs">دقایقی پیش</div>
                                </div>
                            </div>
                        </div>
                        @if (land.IsImmediate)
                        {
                            <div class="bg-orange text-white flex justify-center items-center font-alibaba px-1 py-2.5 rounded-full absolute left-1 top-1">
                                فوری
                            </div>
                        }
                    </div>
                </div>
            }
            
           
        </div>
        <button class="btn bg-primary border-0! h-12 rounded-md mx-auto mt-5 lg:mt-10 w-full max-w-60 px-2 flex justify-between">
            <span class="text-white text-sm font-alibaba">
                مشاهده فایل های بیشتر
            </span>
            <div class="w-8 h-8 rounded-full bg-white flex justify-center items-center">
                <img src="public/svg/arrow-more.svg" alt="arrow-up" />
            </div>
        </button>
    </div>
</section>